# Default .easignore
node_modules/
.git/
.expo/
dist/
*.p12
*.key
*.keystore
*.mobileprovision
*.orig
npm-debug.log
yarn-error.log
*.tar.gz
*.ruby-version
.DS_Store
*.mp4
*.mov
*.avi
*.mkv
*.pdf
*.zip
*.psd
*.ai
*.xd
*.sketch
*.jar
*.bin
*.apk
*.aab
*.ipa
*.plist
*.sqlite
*.db
*.csv
*.xlsx
*.docx
*.pptx
*.odt
*.mp3
*.wav
*.ogg
*.flac
*.ttf
*.otf
*.woff
*.woff2
*.eot
*.gif
*.webp
*.svg
*.ico
*.icns
*.bmp
*.tiff
*.webm
*.log
*.tmp
*.bak
*.swp
*.swo
*.idea/
.vscode/
*.iml
local.properties
android/local.properties
ios/Pods/
Pods/
Podfile.lock
yarn.lock
package-lock.json
*.xcodeproj/
*.xcworkspace/
fastlane/
Gemfile
Gemfile.lock